@{
    ViewData["Title"] = "Certificados";
}

<div class="content">
    <section id="certificates" class="section">
        <h2 class="section-title">Certificados y Cursos</h2>
        <div class="row">
            @foreach (var certificado in ViewBag.Certificados)
            {
                <div class="col-md-4">
                    <div class="card mb-3" style="height: 120px;">
                        <div class="card-body">
                            <h5 class="card-title">@certificado.Nombre</h5>
                            <p class="card-text">@certificado.Institucion</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <img src="img/earth.svg" class="earth" id="earth">
    <img src="img/rocket.svg" class="rocket" id="rocket">
    <img src="img/moon.svg" class="moon" id="moon">
</div>