<div class="content index-page">
    <section id="about" class="section">
        <h3 class="section-title">Sobre Mí</h3>
        <p>@ViewBag.DatosPersonales.Descripcion</p>
    </section>

    <img src="img/earth.svg" class="earth" id="earth">
    <img src="img/rocket.svg" class="rocket" id="rocket">
    <img src="img/moon.svg" class="moon" id="moon">
</div>